body {
	
	height: 100vh;
	background-image: url('../image/php.jpg');
	background-size: cover;
	font-family: "Times New Roman", Times, serif;
	text-align: center;
	font-size: 30px;
}

h1 {
	
	font-size: 50px;
	color:  #107896;
	text-align: center;
	border: 5px outset White;	
	
}